.card {
    width: 100% !important;
}

.amenazasComunes .card {
    height: 90%;
}

.consejosSeguridad #formularioContacto {
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
}


@media (min-width: 768px) {
    .card {
    width: 100% !important;
}
}
